[submodule "models/gansformer"]
	path = models/gansformer
	url = git@github.com:dorarad/gansformer.git
[submodule "src/redis-pubsub-twilio"]
	path = src/redis-pubsub-twilio
	url = git@github.com:gabicavalcante/redis-pubsub-twilio.git
[submodule "src/face-of-art"]
	path = src/face-of-art
	url = git@github.com:papulke/face-of-art.git
[submodule "src/talking-head-anime-2-demo"]
	path = src/talking-head-anime-2-demo
	url = git@github.com:pkhungurn/talking-head-anime-2-demo.git
[submodule "src/shareware"]
	path = src/shareware
	url = git@github.com:CryptoWizard89/AICRYPTOART.git
[submodule "src/MakeItTalk"]
	path = src/MakeItTalk
	url = git@github.com:yzhou359/MakeItTalk.git
[submodule "src/perceiver-pytorch"]
	path = src/perceiver-pytorch
	url = https://github.com/lucidrains/perceiver-pytorch.git
[submodule "app/Deploy-BERT-for-Sentiment-Analysis-with-FastAPI"]
	path = app/Deploy-BERT-for-Sentiment-Analysis-with-FastAPI
	url = https://github.com/curiousily/Deploy-BERT-for-Sentiment-Analysis-with-FastAPI
[submodule "app/elastic_transformers"]
	path = app/elastic_transformers
	url = https://github.com/md-experiments/elastic_transformers
[submodule "src/AI-Vocaloid-Kit-V2"]
	path = src/AI-Vocaloid-Kit-V2
	url = https://github.com/zitterbewegung/AI-Vocaloid-Kit-V2.git
[submodule "src/BotVsBottom"]
	path = src/BotVsBottom
	url = git@github.com:karlmarx/BotVsBottom.git
[submodule "app/Tinder"]
	path = app/Tinder
	url = git@github.com:iamjdpatel/Tinder.git
